* {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgb(216, 200, 182);
}

body {
  font-family: helvetica;
  font-size: 18px;
}
.container {
  margin: 200px auto;
  width: 500 px;
  display: flex;
  flex-direction: column;
}
.quote-box {
  border: 5px solid #ddd;
  padding: 30px 20;
  margin-bottom: 20px;
}
#quote {
  color: #444;
  text-align: center;
}
#author {
  float: right;
  color: rgb(235, 225, 225);
  width: 300px;
  height: 10px;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
  background-color: rgb(130, 130, 241);
}

#btn {
  align-self: center;
  border: 2px solid #666;
  padding: 10px 15px;
  text-transform: uppercase;
  color: rgb(238, 229, 229);
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(50, 50, 245);
}

#btn:focus {
  outline: none;
}
button {
  background: #2c50f3;
  border: 0;
  text-transform: uppercase;
}
button:hover,
.contact form button:focus {
  background: #3994f0;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
p {
  margin: 0;
}
button,
.contact form input,
.contact form textarea {
  width: 20%;
  padding: 1em;
  border: 1px solid #2a2df8;
}
